<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xxin.mybatis.auto.ddl.mapper.TableMapper">
    <!-- 创建表的 -->
    <select id="doDDL" parameterType="list">
        <foreach collection="tables" item="value">
           ${value}
        </foreach>
    </select>
</mapper>

